# Start using pandas

In [3]:
import pandas as pd

In [4]:
pd.__version__

'0.24.2'

In [6]:
#row, record, observation
#column, variable, input

In [ ]:
#data type: str, float, bool, list[], tuple(), dictionary

In [ ]:
l = [1，True,'Hello']
t = (2, False, [1,2,3])

<img src="img/8.png" style="max-width: 500px; height: auto; "></img>

<p>To manually store data in a table, create a <span style="color:red">DataFrame</span>. When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the <span style="color:red">DataFrame</span>.</p>

In [7]:
data = {'name':['Pikachu', 'Charmender', 'Charmender', 'Psyduck'],
        'type':['electric', 'fire', 'fire', 'water'],
        'level':[320, 309, 309, 320]}

In [8]:
#create a DataFrame
pd.DataFrame(data)

         name      type  level
0     Pikachu  electric    320
1  Charmender      fire    309
2  Charmender      fire    309
3     Psyduck     water    320

<p>Creating a DataFrame by passing a nested list, with a labeled columns:</p>

In [9]:
data1 = [['Pikachu', 'electric', 320],
         ['Charmender', 'fire', 309],
         ['Charmender', 'fire', 309],
         ['Psyduck', 'water', 320]]

In [10]:
pd.DataFrame(data1)

            0         1    2
0     Pikachu  electric  320
1  Charmender      fire  309
2  Charmender      fire  309
3     Psyduck     water  320

In [11]:
len(data1)

4

In [17]:
df = pd.DataFrame(data=data1,columns=['name','type','level'])

In [18]:
df

         name      type  level
0     Pikachu  electric    320
1  Charmender      fire    309
2  Charmender      fire    309
3     Psyduck     water    320

<img src="img/9.png" style="max-width: 500px; height: auto; "></img>

I’m interested in Pokemon's level

In [22]:
df['level']

0    320
1    309
2    309
3    320
Name: level, dtype: int64

In [23]:
type(df)

pandas.core.frame.DataFrame

Do something with a DataFrame or Series

In [ ]:
# Q1. 我们可以如何计算小志一共拥有多少个不同的小精灵呢?

In [21]:
len(df.name.unique().tolist())

3

In [ ]:
# Q2. 我们可以如何计算小志每种不同的类型的小精灵拥有多少呢?

In [24]:
df.type.value_counts()

fire        2
water       1
electric    1
Name: type, dtype: int64

In [ ]:
# Q2b. 小志即将跟水系的精灵训练师battle，我们希望从我们的小精灵 里面找到所有的雷电系的进行作战，我们应该怎么做呢?

In [39]:
df[df.type =='electric']

         name      type  level
0     Pikachu  electric    320
1  Charmender  electric    309
2  Charmender  electric    309
3     Psyduck  electric    320

# Data Analysis on Marketing Dataset PART1

<img src="img/0.png" style="max-width: 400px; height: auto; "></img>

### Bank direct marketing

<p>There are two main approaches for enterprises to promote products and/or services: through <b>mass campaigns</b>, targeting general indiscriminate public or <b>targeted cmpaigns/direct marketing</b>, targeting a specific set of contacts.</p>

<p>Nowadays, in a global competitive world, positive responses to mass campaigns are typically very low, less
than <b>1%</b>. Alternatively, directed marketing focus on targets that assumable will be keener to that specific product/service, making this kind of campaigns more attractive due to its efficiency.</p>

### Bank direct marketing data

<p>We collected data from a Portuguese bank that used its own contact-center to do directed marketing campaigns. </p>
<p>The dataset collected is related to 17 campaigns that occurred between May 2008 and November 2010, corresponding to a total of 41188 customers (a customer can be contacted more than once). </p>
<p>During these phone campaigns, an attractive long-term deposit application, with good interest rates, was offered. For each contact, a large number of attributes was stored and if there was a success (the target variable). For the whole database considered, there were 4640
successes (11% success rate).</p>

##### Input variables:<br>
**- bank client data:**<br>
1 - cust_id : customer id<br>
2 - age (numeric)<br>
3 - job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed')<br>
4 - marital : marital status (categorical: 'divorced','married','single')<br>
5 - education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree')<br>
6 - default: has credit in default? (categorical: 'no','yes')<br>
7 - mortgage: has housing loan? (categorical: 'no','yes')<br>
8 - loan: has personal loan? (categorical: 'no','yes')<br>
<br>
**- related with the last contact of the current campaign:**<br>
9 - contact_type: contact communication type (categorical: 'cellular','telephone')<br> 
10 - date: last contact date<br>
11 - duration: last contact duration, in seconds (numeric)<br>
<br>
**- other attributes:**<br>
12 - contact_num: number of contacts performed during this campaign and for this client (numeric, includes last contact)<br>
13 - p_days: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)<br>
14 - p_outcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')<br>
<br>
##### Output variables:<br>
15 - y - has the client subscribed a term deposit? (binary: 'yes','no')

## Load dataset

## Data overview

## Merge dataset together

<img src="img/left_join.png"></img>

In [ ]:
# Change column order
col = ['cust_id','age','job','marital','education','default','mortgage','loan',
       'contact_type','date','duration','contact_num','p_days','p_outcome','y']

## Add missing to the dataset

## How do I select a subset of a DataFrame?

#### How do I select specific columns from a DataFrame?

<img src="img/1.png" style="max-width: 500px; height: auto; "></img>

#### How do I filter specific rows from a DataFrame?

<img src="img/2.png" style="max-width: 500px; height: auto; "></img>

#### How do I select specific rows and columns from a DataFrame?

<img src="img/3.png" style="max-width: 500px; height: auto; "></img>

## How to create new columns derived from existing columns?

<img src="img/4.png" style="max-width: 500px; height: auto; "></img>

## How to calculate summary statistics?

#### Aggregating statistics

<img src="img/5.png" style="max-width: 500px; height: auto; "></img>

#### Aggregating statistics grouped by category

<img src="img/6.png" style="max-width: 500px; height: auto; "></img>

#### Pivot table

<img src="img/7.png" style="max-width: 500px; height: auto; "></img>

## How to handle time series data with ease?

#### Using pandas datetime properties

#### Why are these pandas.Timestamp objects useful?

## Output Data